/**********Tags**********/
body {
  padding-top: 60px;
  background: #52616B;
}

form {
  margin-bottom: 100px;
}

h2 {
  color: black;
}

label {
  color: black;
}

/***********Classes*********/
.bottom-container {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.btn {
  margin-top: 1rem;
}

.card {
  background-color: #C9D6DF;
  margin-bottom: 5rem;
}

.carousel {
  margin: 0 auto;
  padding-bottom: 5rem;
}

.copyright {
  color: #52616B;
  text-align: center;
  display: block;
}

.jd-logo {
  margin-left: 1rem;
}

.log-container {
  background-color: #F0F5F9;
  margin-top: 1rem;
  text-align: center;
  display: block;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: #F0F5F9;
}

.offcanvas-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: #F0F5F9;
}

/************ IDs ***********/
