/************** Tags **************/
body {
  background-color: #393E41;
}

h1  {
  color: #D3D0CB;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

h2 {
  color: #393E41;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

/************** Classes **************/
.jdlogo {
  margin-left: 1rem;
  margin-top: 1rem;
}

.middle-container {
  margin: 0 0 0 0;
  background-color: #E7E5DF;
}

.top-container {
  margin: 0 0 0 0;
  background-color: black;
}
