/**********Tags**********/
body {
  background: #444444;
}


/***********Classes*********/
.jd-logo {
  margin-left: 1rem;
}

.navbar-brand {
  margin-left: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: #EDEDED;
}
